// ===============
// Layout Extends
// ===============

// Anchor Tags
%underline {
    text-decoration: underline;
}
// Font Weight
%bold {
    font-weight: bold;
}
// Centered Content
%centered {
    text-align: center;
}
