// Footer Styles

footer {
    width: 100%;
    min-height: 30px;
    background-color: $off-white;

    .footer-nav {
        font-size: 12px;
        @include desktop {
            font-size: 16px;
        }
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        &li {
            display: inline-block;
        }
    }
}
