// Project Styles

.project {
    text-align: center;
    width: 100%;
    padding: 2% 5%;
    display: block;
    @include tablet {
        width: 48%;
        display: inline-block;
        margin: 0 auto;
        padding: 1%;
    }

    img {
        width: 100%;
        height: auto;
    }

    p {
        font-size: 14px;
    }
}
