// ========================
// Global Imports
// ========================

@import 'base/index';
@import 'layout/index';
@import 'content/index';















/* Tablet Media Query */

@media screen and (min-width: 768px) {
  
  .intro {
    display: inline-block;
  }
  .headshot {
    width: 40%;
    float: right;
    padding: 1% 2.5% 4%;
  }
  .intro-content {
    width: 60%;
    float: left;
    padding: 1% 5%;
  }
  .portfolio h3 {
    padding: 1% 0;
  }
  .project {
    width: 48%;
    display: inline-block;
    margin: 0 auto;
    padding: 1%;
  }
}

/* Desktop Media Query */

@media screen and (min-width: 1024px) {
  .nav {
    display: flex;
  }
  .nav .name {
    margin-right: auto;
    font-size: 24px;
    text-align: left;
  }
  .nav li {
    background-color: $off-white;
    padding: 1% 0 1% 1%;
    margin: 0 1%;
    width: auto;
    font-size: 20px;
  }
  .intro {
    display: inline-block;
    width: 100%;
  }
  .headshot {
    width: 40%;
    float: right;
    padding: 1% 2.5% 4%;
  }
  .intro-content {
    width: 60%;
    float: left;
    padding: 1% 2.5%;
    text-align: left;
    font-size: 18px;
  }
  .project {
    width: 32%;
    vertical-align: top;
    min-height: 350px;
  }
  .portfolio h3, .contact h3 {
    font-size: 24px;
  }
  .project h4 {
    font-size: 22px;
  }
  .project p, .contact p {
    font-size: 18px;
  }
  .contact p {
    padding-bottom: 2%;
  }
  .top {
    display: none;
  }
  .bottom-nav {
    display: inline-block;
  }
  footer .footer-nav {
    font-size: 16px;
  }
}
