// ========================
// Global Imports
// ========================

@import 'base/index';
@import 'layout/index';
@import 'content/index';


/* Desktop Media Query */

@media screen and (min-width: 1024px) {



  .headshot {
    width: 40%;
    float: right;
    padding: 1% 2.5% 4%;
  }
  .project {
    width: 32%;
    vertical-align: top;
    min-height: 350px;
  }
  .portfolio h3, .contact h3 {
    font-size: 24px;
  }
  .project h4 {
    font-size: 22px;
  }
  .project p, .contact p {
    font-size: 18px;
  }
  .contact p {
    padding-bottom: 2%;
  }

  footer .footer-nav {
    font-size: 16px;
  }
}
