// ========================
// Global Imports
// ========================

@import 'base/index';
@import 'layout/index';
@import 'content/index';


/* Desktop Media Query */

@media screen and (min-width: 1024px) {





  .portfolio h3, .contact h3 {
    font-size: 24px;
  }

  .contact p {
    font-size: 18px;
    padding-bottom: 2%;
  }

  footer .footer-nav {
    font-size: 16px;
  }
}
